
body{
    position:relative;
    left: 50%;
}
.loadingPage{
    width: 100%;
    height: 100%;
    background-color:#ededed;
}
#loading{
    display: none;
}
.loadingPage img{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 100px;
    margin-left: -50px;
}
.pageContentPanel[longpage="false"] .contentEle{
    height: 100%;
    top: 0 !important;
}