body{
    padding-top: 1.2rem;
}
.index{
    padding-bottom: 1.5rem;
}
.swiper-wrapper img{
    width: 100%;
}
.notice{
    padding: .2rem .3rem;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
}
.notice img{
    height: .4rem;
    margin: .1rem 0;
    vertical-align: top;
}
marquee{
    width: 80%;
    font-size: .37rem;
    color: #b5b5b5;
    line-height: .6rem;
}
nav a{
    display: inline-block;
    width: 25%;
    padding: .2rem .3rem;
    text-align: center;
    background-color: #fff;
}
nav img{
    width: 60%;
}
nav p{
    font-size: .37rem;
    line-height: .6rem;
    color: #616161;
}
.market{
    margin: .2rem 0;
    background: #fff;
}
.market>h2{
    padding: .2rem .3rem;
    font-size: .37rem;
    padding-left: 1rem;
    border-bottom: 1px solid #ebebeb;
    background: url(../images/stock.png) no-repeat .3rem;
    background-size: .4rem;
}
.market ul{
    padding: .3rem;
}
.market li{
    display: inline-block;
    width: 32%;
    overflow: hidden;
    text-align: center;
    color: #dc4046;
    background: #f4f4f4;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.market li:nth-of-type(2){
    margin: 0 2%;
}
.market li.down{
    color: #1486ce;
}
.market li h3{
    font-size: .32rem;
    color: #fff;
    line-height: .6rem;
    background-color: #e67780;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.market li h3.down{
    background-color: #6eb2dd;
}
.market li p{
    padding-left: .3rem;
    font-size: .42rem;
    line-height: .8rem;
    background: url(../images/up.png) no-repeat .4rem;
    background-size: .2rem;
}
.market li p.down{
    background: url(../images/down.png) no-repeat .5rem;
    background-size: .2rem;
}
.market li span{
    font-size: .37rem;
    line-height: .8rem;
}
.market li span:nth-of-type(1){
    float: left;
    padding-left: .2rem;
}
.market li span:nth-of-type(2){
    float: right;
    padding-right: .2rem;
}
.stock{
    background: #fff;
}
.stock h2{
    padding: .2rem .3rem .2rem .8rem;
    font-size: .37rem;
    line-height: .6rem;
    background: url(../images/stock.png) no-repeat .3rem center;
    background-size: .4rem;
}
.stock h2 a{
    float: right;
    color: #dc2333;
}
.stock h2 span{
    float: right;
    margin-right: .5rem;
    color: #1486ce;
}
.index .stock ul{
    display: none;
}
.stock li{
    padding: .2rem .3rem;
    border-top: 1px solid #ebebeb;
}
.stock li>img{
    display: none;
    width: .5rem;
    margin: .25rem .3rem 0 0;
}
.stock .li-left{
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    font-size: .37rem;
    line-height: .5rem;
}
.add .stock .li-left{
    width: 80%;
}
.stock .li-left span{
    font-size: .32rem;
    color: #a2a2a2;
}
.stock li>p{
    display: inline-block;
    width: 33.33%;
    text-align: center;
    vertical-align: top;
    font-size: .37rem;
    line-height: 1rem;
}
.stock li>span{
    float: right;
    font-size: .37rem;
    line-height: 1rem;
    color: #dc2333;
}
.empty{
    display: none;
    padding: .5rem 0;
    text-align: center;
    font-size: .37rem;
    color: #1486ce;
}
.empty img{
    width: 3rem;
}
/* 添加 */
.add header{
    background: #fff;
}
.search{
    display: inline-block;
    width: 80%;
    margin: .2rem .3rem;
    padding: .1rem 0;
    border-radius: 1rem;
    background: #f7f7f7;
}
.search img{
    width: .4rem;
    margin: .1rem .2rem;
    vertical-align: top;
}
.search input{
    width: calc(100% - .8rem);
    font-size: .37rem;
    line-height: .6rem;
    background: none;
    border: 0;
}
.add header span{
    float: right;
    width: 10%;
    margin: .3rem 0;
    font-size: .37rem;
    line-height: .6rem;
}
.add .stock img{
    display: inline-block;
    float: right;
}
.nothing img{
    display: none;
    width: 4rem;
    margin: 5rem 3rem;
}
/* 新手引导 */
.noob>img{
    width: 100%;
}
/* 行业资讯 */
.news li{
    padding: .2rem .3rem;
    margin-bottom: .2rem;
    background: #fff;
}
.news li img{
    width: 2rem;
    height: 1.5rem;
    vertical-align: top;
    border-radius: .2rem;
}
.news .li-right{
    display: inline-block;
    width: 7rem;
    padding-left: .3rem;
}
.news .li-right h4{
    white-space: nowrap;
    font-size: .42rem;
    color: #272626;
}
.news .li-right p{
    overflow: hidden;
    white-space: nowrap;
    font-size: .32rem;
    color: #999898;
}
.news .time{
    padding: 0 .5rem;
    font-size: .32rem;
    color: #cfcfcf;
    background: url(../images/time.png) no-repeat left center;
    background-size: .4rem;
}
.news .eye, .notice2 .eye{
    padding: 0 .5rem;
    vertical-align: top;
    font-size: .32rem;
    color: #cfcfcf;
    background: url(../images/eye.png) no-repeat left center;
    background-size: .4rem;
}
.news h5{
    margin-bottom: .2rem;
    text-align: center;
    line-height: 1rem;
    font-size: .42rem;
    background: #fff;
}
.news .content{
    padding: .3rem;
    font-size: .37rem;
    color: #999898;
    background: #fff;
}
.news .content img{
    width: 100%;
}
/* 系统公告 */
.notice2 li{
    padding: .2rem .3rem;
    margin-bottom: .2rem;
    overflow: hidden;
    background: #fff;
}
.notice2 li h4{
    font-size: .42rem;
    color: #272626;
}
.notice2 li p{
    margin-bottom: .2rem;
    overflow: hidden;
    white-space: nowrap;
    font-size: .32rem;
    line-height: .6rem;
    color: #999898;
    border-bottom: 1px solid #ebebeb;
}
.notice2 li span{
    font-size: .32rem;
    color: #cfcfcf;
}
.notice2 li a{
    float: right;
    font-size: .32rem;
    color: #cfcfcf;
}