body{
    height: 100vh;
    padding-top: 1.2rem;
    background: linear-gradient(#de2632, #f14232);
}
form{
    width: 94%;
    height: calc(100vh - 2.5rem);
    margin: .5rem .3rem;
    text-align: center;
    border-radius: .3rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.logo{
    width: 3rem;
    margin: .6rem 0;
}
.line{
    width: 90%;
    margin: 0 5% .5rem;
    font-size: 0;
    text-align: left;
    border-bottom: 1px solid #bebebe;
}
.line img{
    height: .6rem;
    margin: .2rem 0;
    vertical-align: top;
}
.line input{
    width:90%;
    padding-left: .3rem;
    font-size: .37rem;
    line-height: 1rem;
    border: 0;
    background: none;
}
.code input{
    width: 70%;
}
.code .CAPTCHA{
    float: right;
    width: 20%;
    margin: 0;
    height: 1rem;
    text-align: center;
    font-size: .37rem;
    line-height: 1rem;
}
.forget{
    float: right;
    margin: -.3rem 5% 0;
    font-size: .32rem;
    color: #b9b9b9;
}
form button, a.register{
    width: 7rem;
    margin: .5rem 1.1rem;
    line-height: 1.1rem;
    font-size: .37rem;
    color: #fff;
    border: 0;
    border-radius: .2rem;
    background-color: #dc2333;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
a.register{
    display: inline-block;
    background-color: #8f8f8f;
}
.sign .forget{
    display: inline-block;
    width: 100%;
    font-size: .32rem;
    color: #94b7e8;
    line-height: 1rem;
}
/* 注册 */
.acquire{
    float: right;
    width: 20%;
    font-size: .37rem;
    line-height: 1rem;
    color: #71cd7d;
}