
.top{
    padding-top: 1.2rem;
    background: url(../images/my-bg.png) no-repeat;
    background-size: 100%;
}
h1{
    padding-left: .3rem;
    text-align: left;
    background: rgba(255, 255, 255, .1);
}
h1 img{
    float: right;
    height: .6rem;
    margin: .3rem;
}
.msg{
    padding: .5rem 0 .3rem;
    text-align: center;
}
.msg img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
input[type=file]{
    display: none;
}
.msg span{
    display: inline-block;
    margin: .2rem 0;
    padding: .1rem .3rem .1rem .8rem;
    font-size: .37rem;
    color: #fff;
    border-radius: 1rem;
    background: rgba(255, 255, 255, .1) url(../images/phone.png) no-repeat .2rem center;
    background-size: .4rem;
}
.yue{
    padding: .2rem 0 .6rem;
    text-align: center;
    background: #f24232;
}
.yue div{
    display: inline-block;
    width: 50%;
    font-size: .37rem;
    color: #fff;
}
.yue div:nth-child(1){
    border-right: 1px solid #f88f84;
}
.yue p{
    color: #ffb7b3;
}
nav{
    position: relative;
    z-index: 2;
    margin: -.5rem .3rem 0;
    padding: .1rem;
    border-radius: .3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: #fff;
}
nav a{
    display: inline-block;
    width: 33.33%;
    padding: .2rem .3rem;
    text-align: center;
}
nav img{
    width: 50%;
}
nav p{
    font-size: .37rem;
    line-height: .6rem;
    color: #838383;
}
.nav{
    margin-top: -2rem;
    padding-top: 2.2rem;
    background: #fff;
}
.nav a{
    display: block;
    padding: .3rem .3rem;
    font-size: .37rem;
    color: #838383;
    line-height: .5rem;
    border-bottom: 1px solid  #f0f0f0;
    background: #fff;
}
.nav a img:nth-child(1){
    width: .5rem;
    margin-right: .2rem;
    vertical-align: top;
}
.nav .arrow{
    float: right;
    height: .3rem;
    margin: .1rem 0;
}
/* 充值 */
.recharge, .transfer, .fund{
    padding-top: 1.2rem;
}
/* 支付宝转账 */
.transfer h4{
    padding-left: .3rem;
    font-size: .37rem;
    color: #1c1c1c;
    line-height: 1rem;
}
.step1{
    padding: .3rem;
    background: #fff;
}
.step1 img{
    width: 1.2rem;
    vertical-align: top;
}
.step1 div{
    display: inline-block;
    padding-left: .2rem;
    font-size: .37rem;
    color: #1c1c1c;
    line-height: .6rem;
}
.step1 div input{
    font-size: .37rem;
    color: #1486ce;
    line-height: .6rem;
    border: 0;
}
.step1 button{
    float: right;
    width: 1.6rem;
    margin: .2rem 0;
    font-size: .37rem;
    color: #fff;
    line-height: .8rem;
    border: 0;
    border-radius: .2rem;
    background: #dc2333;
}
.tishi{
    margin-top: .3rem;
    padding: .3rem 0 0;
    font-size: .32rem;
    color: #dc2333;
    border-top: 1px solid #d9d9d9;
}
.step2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .3rem 0;
    background: #fff;
}
.step2>img{
    height: .6rem;
}
.step2 div{
    width: 40%;
    text-align: center;
}
.step2 div img{
    width: 1rem;
}
.step2 p{
    font-size: .37rem;
}
.tishi2{
    padding: .3rem;
    font-size: .32rem;
    color: #dc2333;
}
.transfer>button{
    width: 9rem;
    margin: 1rem .5rem;
    line-height: 1.1rem;
    font-size: .37rem;
    color: #fff;
    border: 0;
    border-radius: .2rem;
    background-color: #dc2333;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
/* 资金记录 */
.record li{
    padding: .2rem .3rem;
    background: #fff;
}
.record li>span{
    display: inline-block;
    width: 1rem;
    margin-right: .2rem;
    text-align: center;
    vertical-align: top;
    font-size: .37rem;
    color: #dc2333;
    line-height: 1rem;
    border: 1px solid #dc2333;
    border-radius: 50%;
}
.record li div{
    display: inline-block;
    font-size: .37rem;
    color: #1c1c1c;
    line-height: .55rem;
}
.record li div span{
    color: #9d9d9d;
}
.record li div:nth-of-type(2){
    float: right;
    text-align: right;
}
.type{
    display: none;
    position: fixed;
    top: 1.2rem;
    width: 100%;
    background: #fff;
}
.type li{
    text-align: center;
    font-size: .37rem;
    color: #1c1c1c;
    line-height: 1rem;
    border-bottom: 1px solid #d9d9d9;
}
.type .act{
    background: url(../images/dui.png) no-repeat 90%;
    background-size: .5rem;
}