
body{
    padding-top: 1.2rem;
}
.line{
    margin-top: .3rem;
    padding: .2rem 0;
    font-size: 0;
    background-color: #fff;
}
.line span:nth-child(1){
    display: inline-block;
    width: 25%;
    text-align: center;
    font-size: .37rem;
    line-height: .6rem;
    border-right: 1px solid #e6e6e6;
}
.line input{
    width: 75%;
    text-indent: .3rem;
    font-size: .37rem;
    line-height: .6rem;
    border: 0;
    background: none;
}
.code input{
    width: 55%;
}
.acquire{
    float: right;
    width: 20%;
    text-align: center;
    font-size: .37rem;
    line-height: .6rem;
    color: #71cd7d;
}
input[type="submit"],
button[type="button"]{
    width: 4rem;
    margin: .6rem 3rem;
    line-height: 1rem;
    font-size: .37rem;
    color: #fff;
    border: 0;
    border-radius: .2rem;
    background-color: #6813d2;
}

/* 提现 */
.radio img{
    width: .6rem;
    vertical-align: top;
}
input[type="radio"]:checked + label::before {
    padding: 3px;
    background-color: #6813d2;
    background-clip: content-box;
    box-sizing: border-box;
}
input[type="radio"] + label::before {
    content: "\a0";
    display: inline-block;
    width: .4rem;
    height: .4rem;
    margin: .1rem .1rem .1rem 1rem;
    vertical-align: top;
    border-radius: 50%;
    border: 1px solid #6813d2;
    box-sizing: border-box;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: auto;
}
.btm{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 .3rem;
    background-color: #fff;
}
.btm h6{
    text-align: center;
    padding-left: .4rem;
    line-height: 1rem;
    font-size: .37rem;
    border-bottom: 1px solid #e6e6e6;
}
.btm h6 img{
    float: right;
    width: .4rem;
    margin: .3rem 0;
}
.btm div{
    font-size: .32rem;
    line-height: 1rem;
    border-bottom: 1px solid #e6e6e6;
}
.btm div b{
    float: right;
    color: #6813d2;
}