.record li{
    margin-top: .2rem;
    padding: .3rem .3rem .2rem;
    background-color: #fff;
}
.record li div{
    display: inline-block;
    line-height: 1;
}
.record li div p{
    font-size: .37rem;
}
.record li div p span{
    color: #6813d2;
}
.record li div>span{
    font-size: .32rem;
    color: #aaa;
}
.record li>span{
    float: right;
    margin-top: .3rem;
    font-size: .37rem;
    color: #d43152;
}
.record li .col{
    color: #5daffb;
}
.record li>a{
    float: right;
    margin-top: .3rem;
    font-size: .37rem;
    color: #5daffb;
    text-decoration: underline;
}
.apply li div p{
    color: #6813d2;
}
.record li div b{
    font-weight: 500;
    font-size: .37rem;
}
.record li .right{
    float: right;
}
.record li .right a{
    display: block;
    text-align: right;
    font-size: .37rem;
    color: #5daffb;
    text-decoration: underline;
}