.carousel{
    margin-top: 80px;
}
.slogan{
    position: absolute;
    top: 200px;
    left: 20%;
    color: #fff;
    z-index: 3;
}
.slogan h4{
    font-size: 30px;
    line-height: 1.2;
}
.slogan h5{
    font-size: 46px;
    line-height: 1.2;
    font-weight: 600;
}
.slogan button{
    margin-top: 50px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0;
    background-color: #0174ed;
}
.introduce{
    max-width: 1200px;
    margin: 5% auto;
    overflow: hidden;
}
.introduce li{
    float: left;
    width: 32%;
    padding: 3% 3% 3% 10%;
    letter-spacing: 1px;
}
.introduce li:nth-child(1){
    background: url(../images/index1.png) no-repeat top;
    background-size: 100%;
}
.introduce li:nth-child(2){
    margin: 0 2%;
    background: url(../images/index2.png) no-repeat;
    background-size: 100%;
}
.introduce li:nth-child(3){
    background: url(../images/index3.png) no-repeat;
    background-size: 100%;
}
.introduce li h3{
    margin-top: 10px;
    font-size: 24px;
    color: #6d6d6d;
}
.introduce li p{
    height: 100px;
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
    color: #9c9c9c;
}
.project{
    padding: 5% 0 0;
    overflow: hidden;
    color: #fff;
    background-color: #083f85;
}
.project-left{
    position: relative;
    display: inline-block;
    width: 50%;
    margin-bottom: 5%;
    text-align: center;
}
.project-left .detail{
    display: inline-block;
    font-size: 18px;
    line-height: 36px;
    color: #222;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0;
}
.project-left .detail p{
    margin: 0;
    padding: 0 10px;
    color: #fff;
    border-radius: 10px 10px 0 0;
    background-color: #ffcc45;
}
.project-left .china-map{
    width: 60%;
    margin-left: 10%;
}
.project-left .area{
    position: absolute;
    right: 19%;
    top: 22%;
    width: 25%;
}
.project-left .area:hover + .detail{
    opacity: 1;
}
.project-right{
    display: inline-block;
    padding-left: 20px;
    margin-left: 8%;
    vertical-align: middle;
    color: #fff;
    background: url(../images/line.png) no-repeat left 70%;
    background-size: auto 80%;
}
.project-right h3{
    font-size: 32px;
}
.project-right li{
    font-size: 16px;
    line-height: 2.4;
}
.project button{
    float: left;
    width: 50%;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #005aa8;
    border: 0;
}
.world-map{
    display: none;
    width: 50%;
    margin: 0 25%;
}
.project .select{
    background-color: #0174ed;
}
.specialist0 .top, .contact .top{
    margin: 5% 0;
}
.specialist0 h6, .contact h6{
    color: #747474;
}
.data{
    padding: 5% 0;
    color: #fff;
    background: url(../images/bg1.png) no-repeat;
    background-size: 100% 100%;
}
.data div{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.data li{
    float: left;
    width: 29.33%;
    margin: 0 2%;
    text-align: center;
}
.data h1{
    font-size: 60px;
}
.data h1:hover{
    transform: scale(1.08);
}
.data span{
    font-size: 14px;
}
.contact ul{
    max-width: 1200px;
    margin: 0 auto 10%;
    overflow: hidden;
}
.contact li{
    float: left;
    width: 25%;
    padding-top: 6px;
    text-align: center;
}
.contact li img{
    width: 15%;
}
.contact li img:hover{
    transform: translateY(-6px);
}
.contact li h2{
    color: #222;
    font-size: 18px;
}
.contact li span{
    color: #333;
    font-size: 12px;
}
.apply{
    padding: 3% 10%;
    overflow: hidden;
    background-color: #195db2;
}
.apply-left{
    display: inline-block;
}
.apply-left h2{
    font-size: 20px;
    line-height: 2;
    color: #fff;
    font-weight: 600;
}
.apply-left p{
    color: #d5e0ee;
}
.apply-right{
    float: right;
    padding: 10px 40px;
    margin-top: 40px; 
    color: #fff;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #fff;
}
.apply-right:hover{
    color: #0174ed;
    background-color: #fff;
}