.banner{
    position: relative;
}
.banner .text{
    position: absolute;
    top: 40%;
    left: 10%;
    color: #fff;
}
.banner p{
    margin: 3% 0 5%;
    font-size: 24px;
    letter-spacing: 3px;
}
.banner .line{
    width: 100px;
    height: 2px;
    background-color: #fff;
}
.banner h1{
    font-size: 36px;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 2px;
}
.article{
    padding: 3% 10% 10%;
}
.title{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #222;
}
.title span{
    display: inline-block;
    margin: 0 2%;
    padding: 0 1.5%;
}
.select{
    color: #fff;
    border-radius: 20px;
    background-color: #195db2;
}
.article ul{
    font-size: 0;
}
.article .li-left{
    width: 20%;
    height: 170px;
}
.article .li-right{
    display: inline-block;
    vertical-align: top;
    width: 80%;
    padding-left: 3%;
}
.article li{
    padding: 2% 0;
    border-bottom: 1px dashed #e6e6e6;
}
.article li h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.article li p{
    height: 80px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
.article li span{
    margin-right: 3%;
    font-size: 12px;
    color: #999;
}
.article li span b{
    color: #666;
}
.article li a{
    float: right;
    padding: 5px 20px;
    font-size: 12px;
    color: #999;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
}
/* 详情 */
.detail{
    display: inline-block;
    width: 40%;
    margin: 5% 5% 10% 10%;
}
.prev{
    display: inline-block;
    font-size: 14px;
    color: #333
}
.prev span, .next span{
    color: #999;
}
.next{
    float: right;
    font-size: 14px;
    color: #333
}
.detail h1{
    padding: 5% 0 2%;
    font-weight: 600;
    border-top: 1px solid #e6e6e6;
}
.detail h6 a{
    margin: 0 2%;
}
.detail h6 span{
    margin-right: 2%;
    color: #999;
    font-size: 12px;
}
.content{
    padding-top: 3%;
    text-align: justify;
    border-top: 1px dashed #e6e6e6;
}
.hot{
    display: inline-block;
    width: 400px;
    margin-top: 5%;
    vertical-align: top;
}
.hot h3{
    margin: 0;
    padding: 3% 0;
    padding-left: 6%;
    font-weight: 600;
    border-top: 3px solid #195db2;
    background: url(../images/hot.png) no-repeat left;
    background-size: 4%;
}
.hot li{
    white-space: nowrap;
    color: #333;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px dashed #e6e6e6;
}
.hot li span{
    float: right;
    margin-left: 5%;
    color: #999;
}
@media screen and (max-width: 1200px) {
    .banner .text{
        top: 15%;
    }
    .banner p{
        font-size: 20px;
    }
    .banner h1{
        font-size: 28px;
    }
    .article{
        padding: 3% 5%;
    }
    .detail{
        width: 90%;
        margin: 5%;
    }
    .hot{
        margin: 5%
    }
}
@media screen and (max-width: 760px) {
    .banner img{
        height: 150px;
    }
    .banner .text{
        top: 15%;
    }
    .banner p{
        font-size: 18px;
    }
    .banner h1{
        font-size: 22px;
    }
    .title{
        font-size: 14px;
        line-height: 26px;
    }
    .title span{
        padding: 0 5%;
    }
    .article .li-left{
        height: 65px;
    }
    .article li h3{
        margin: 5px 0;
        font-size: 14px;
    }
    .article li p, .article li span{
        display: none;
    }
    .article li a{
        padding: 2px 10px;
    }
    /* 详情 */
    .next{
        float: none;
        margin-top: 10px;
    }
    .detail h1{
        font-size: 18px;
    }
    .detail h6{
        display: none;
    }
    .hot{
        width: 100%;
        padding: 0 3%;
    }
    .hot h3{
        font-size: 16px;
    }
    .hot li{
        font-size: 12px;
    }
}