
body{
    height: 100vh;
    background: url('../images/bg.jpg') no-repeat;
    background-size: 100% 100%;
}
.login{
    height: 100%;
    overflow-y: scroll;
    padding: 1rem 1.3rem 1rem;
}
.logo{
    display: block;
    width: 3rem;
    margin: 1rem auto;
}
form{
    width: 7.4rem;
    font-size: 0;
    border-radius: .2rem;
    color: #fff;
}
.line{
    margin-bottom: .4rem;
    padding: .15rem 0;
    border-bottom: 1px solid #01d0d3;
}
.line label{
    display: inline-block;
    width: 1rem;
    text-align: center;
}
.line label img{
    width: .6rem;
}
.line input{
    width: 4.7rem;
    padding-left: .3rem;
    vertical-align: top;
    font-size: .32rem;
    color: #ddd;
    line-height: .6rem;
    border: 0;
    background: none;
}
input::-webkit-input-placeholder{
    color: #ddd;
}
.code{
    margin-bottom: .1rem;
}
.code input{
    width: 4rem;
}
.code span{
    display: inline-block;
    width: 2rem;
    text-align: center;
    vertical-align: top;
    letter-spacing: .05rem;
    font-size: .32rem;
    color: #ddd;
    line-height: .6rem;
}
.remember{
    margin: .2rem 0 .5rem;
    font-size: .32rem;
}
.remember input{
    float: right;
    margin-top: .1rem;
}
form a{
    display: block;
    text-align: center;
    color: #fff;
    font-size: .32rem;
    line-height: 3;
}
/* 注册 */
.register{
    padding: 0 1.3rem 1rem;
}
.register .logo{
    margin-bottom: .2rem;
}
.register h2{
    margin-bottom: .5rem;
    text-align: center;
    font-size: .4rem;
    color: #00ffff;
}
.register input{
    width: 100%;
    margin: .1rem 0;
    font-size: .32rem;
    color: #ddd;
    line-height: .9rem;
    text-indent: .3rem;
    border-radius: .15rem;
    border: 1px solid #00ffff;
    background-color: #033a4b;
}
.register .code input{
    width: 5.6rem;
}
.register .code span{
    width: 1.6rem;
    line-height: 1.1rem;
}
input[type=submit]{
    width: 4rem;
    margin: .2rem 1.7rem;
    font-size: .32rem;
    line-height: 1rem;
    border: 0;
    text-indent: 0;
    color: #fff;
    background-color: #03a7aa;
    border-radius: 1rem;
    -webkit-appearance: none;
}