body{
    height: 100vh;
    background: url('../images/bg.png') no-repeat;
    background-size: 100% 100%;
}
form{
    padding: 1.2rem 1.3rem;
}
.line{
    margin-top: .4rem;
    padding: .2rem 0;
    font-size: 0;
    border-radius: .15rem;
    border: 1px solid #00ffff;
}
label{
    display: inline-block;
    width: 1.8rem;
    text-align: center;
    font-size: .32rem;
    color: #ddd;
    border-right: 1px solid #00ffff;
}
input{
    width: 5.5rem;
    padding-left: .3rem;
    font-size: .32rem;
    border: 0;
    color: #ddd;
    background: none;
}
input::-webkit-input-placeholder{
    color: #ddd;
}
.code .line{
    display: inline-block;
}
.code input{
    width: 3.5rem;
}
.code span{
    float: right;
    margin-top: .4rem;
    width: 1.8rem;
    text-align: center;
    line-height: .9rem;
    font-size: .32rem;
    color: #fff;
    border-radius: .1rem;
    background-color: #03a7aa;
}
input[type=submit]{
    width: 100%;
    margin-top: 1rem;
    padding: 0;
    line-height: 1.06rem;
    color: #fff;
    border-radius: 1rem;
    background-color: #03a7aa;
    -webkit-appearance: none;
}
/* 修改密码 */
.alter{
    height: 100vh;
    overflow-y: scroll;
    background: url('../images/bg.jpg') no-repeat;
    background-size: 100% 100%;
}
.alter form p{
    margin-bottom: -.3rem;
    font-size: .32rem;
    color: #fff;
    line-height: 2;
}
/* 实名认证 */
.row{
    margin: 0 .6rem;
    padding: .4rem .3rem;
    font-size: .32rem;
    color: #00ffff;
    border-bottom: 1px solid #00ffff;
}
.row p{
    float: right;
    color: #b3b3b3;
}