
.product{
	width: 1200px;
	margin: 0 auto;
	font-size: 0;
}
.product div{
	display: inline-block;
	width: 33.33%;
	padding: 7% 5%;
	text-align: center;
}
.product div img{
	width: 60%;
}
.product div h2{
	line-height: 3;
	font-size: 18px;
	color: #333;
}
.product div p{
	font-size: 12px;
	color: #868686;
	line-height: 1.6;
}
.intro{
	background-color: #f39800;
}
.intro-left{
	width: 57%;
	vertical-align: top;
}
.intro-right{
	display: inline-block;
	padding-top: 8%;
	padding-left: 5%;
	color: #fff;
}
.intro-right ul{
	margin: 30px 0;
}
.intro-right li {
	padding: 10px 0;
}
@media screen and (max-width: 1500px) {
	.intro-right{
		padding-top: 5%;
	}
    .intro-right li {
		padding: 0;
	}
}
.intro-right li span{
	color: #db7100;
	font-size: 24px;
	font-family: sans-serif;
}
.intro-right li p{
	display: inline-block;
	text-indent: 10px;
	color: #fff;
	font-size: 14px;
}
.intro-right button{
	padding: 10px 20px;
	font-size: 14px;
	color: #fff;
	border: 0;
	background-color: #db7100;
}
.news{
	padding: 100px 0;
	background: url(../images/news-bg.png) no-repeat bottom;
}
.news h1{
	margin: 0 0 50px;
	text-align: center;
	font-size: 24px;
	color: #f39800;
}
.news ul{
	width: 1200px;
	margin: 0 auto;
	font-size: 0;
}
.news li{
	display: inline-block;
	width: 29.33%;
	margin: 0 2%;
}
.news li img{
	width: 100%;
	margin-bottom: 10px;
	border-left: 10px solid #f39800;
}
.news li p{
	height: 32px;
	overflow: hidden;
	line-height: 16px;
	font-size: 12px;
	color: #c5c5c5;
}
.news li h3{
	font-size: 16px;
}
img.qr-code{
	float: right;
	margin: 100px 15% -160px;
}
.clear{
	clear: both;
}