a{transition: all .2s linear;}
.wrap{
    position: relative;
    padding: 80px 0 120px; 
}
.wrap h1{
    width: 120px;
    margin: 0 auto 80px;
    font-size: 30px;
    border-bottom: 5px solid #f39800;
}
.w1200{width:1200px;margin:0 auto;}
.news{
    width: 1200px;
    margin: 30px auto;
    font-size: 0;
}
.news li{
    margin-bottom: 50px;
    overflow: hidden;
}
.li-left{
    width: 40%;
    height: 240px;
    vertical-align: top;
    transition: all .2s linear;
}
.li-left:hover{
    transform: scale(1.05);
}
.li-right{
    display: inline-block;
    width: 60%;
    height: 240px;
    padding: 0 30px;
    background-color: #f9f9f9;
}
.li-right h3{
    margin: 40px 0 10px;
    color: #f39800;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}
.li-right p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;
    color: #a4a4a4;
    font-size: 14px;
    line-height: 20px;
}
.li-right p:hover{
    color: #f39800;
}
.li-right span{
    display: inline-block;
    width: 30%;
    margin-top: 6%;
    padding-top: 20px;
    color: #a4a4a4;
    font-size: 18px;
    line-height: 20px;
    border-top: 2px solid #f39800;
}
img.qr-code{
    position: absolute;
    bottom: -60px;
    right: 100px;
}
.clear{
	clear: both;
}