
body{
    position:relative;
    left: 50%;
}
.loadingPage{
    width: 100%;
    height: 100%;
    background-color:#ededed;
}
#loading{
    display: none;
}
.loadingPage img{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 100px;
    margin-left: -50px;
}
/* .pageContentPanel[longpage="false"] .contentEle{
    height: 100%;
} */
.maskShape[uniquename="1_15"],
.maskShape[uniquename="1_16"],
.maskShape[uniquename="1_19"],
.maskShape[uniquename="1_20"]{
    display: none !important;
}
.swiper-slide-4.blurPage{
    filter: none;
}