
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  /* url('../fonts/31ef03a54b3e425580c49586706e1703.woff') format('woff'), */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chongzhi:before { content: "\e604"; }

.icon-zhanghuanquan:before { content: "\e6b5"; }

.icon-yaoqinghaoyou:before { content: "\e67f"; }

.icon-zhanghuzonglan:before { content: "\e60e"; }

.icon-tixian1:before { content: "\e624"; }

.icon-bankcard_icon:before { content: "\e656"; }

