body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
table, tr, td {margin: 0;padding: 0;border-collapse: collapse;}
ul{list-style-type:none;}
a{text-decoration: none;}
a:link{color:#20407d;}
a:visited{color:#20407d;}
a:hover,a:active,a:focus{color:initial;text-decoration: none;}
a:active,a:focus{outline:none;}

.head-iframe{
    position: fixed;
    top: 0;
}
@font-face {
	font-family: 'webfont';
	src: url('../font/bold/webfont.eot');
	/* IE9*/
	src: url('../font/bold/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/bold/webfont.woff') format('woff'), /* chrome、firefox */
	url('../font/bold/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/bold/webfont.svg#webfont') format('svg');
	/* iOS 4.1- */
}

@font-face {
	font-family: 'webfont_1';
	src: url('../font/light/webfont.eot');
	/* IE9*/
	src: url('../font/light/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/light/webfont.woff') format('woff'), /* chrome、firefox */
	url('../font/light/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/light/webfont.svg#webfont') format('svg');
	/* iOS 4.1- */
}


@font-face {
	font-family: 'webfont_2';
	src: url('../font/most_light/webfont.eot');
	/* IE9*/
	src: url('../font/most_light/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/most_light/webfont.woff') format('woff'), /* chrome、firefox */
	url('../font/most_light/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/most_light/webfont.svg#webfont') format('svg');
	/* iOS 4.1- */
}
/* header{
	position: fixed;
	width: 100%;
	overflow-y: scroll;
} */