.img{
    height: 340px;
}
section{
    position: relative;
    width: 1200px;
    margin: 30px auto;
}
section:after{
    content: "";
    display: block;
    clear: both;
}
section h1{
    margin-bottom: 30px;
    font-size: 32px;
    font-family: 'web_font1';
    color: #102D59;
}
.attention{
    display: inline-block;
    width: 30%;
    height: 230px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #173D65;
    background: linear-gradient(#fdfdfd, #e4e4e4);
}
.qrcode{
    display: none;
    position: absolute;
    top: 100px;
    left: -160px;
    width: 150px;
    height: 150px;
}
.attention p{
    font-size: 16px;
}
.attention img:not(.bg){
    width: 50px;
    margin: 10px 5px;
    border-radius: 50%;
    background-color: #102d59;
}
.attention .bg{
    margin-top: 10px;
}
.attention2{
    display: none;
}
section ul{
    float: right;
    width: 68%;
    font-size: 0;
}
section li{
    display: inline-block;
    width: 48%;
    height: 180px;
    margin: 0 0 30px 2%;
    padding: 30px;
    vertical-align: top;
    color: #102D59;
    line-height: 2.4;
    border-radius: 10px;
    background: linear-gradient(to right, #fdfdfd, #f6f6f6);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.13);
}
section li h6{
    font-size: 20px;
    font-weight: 900;
    line-height: 2.4;
}
section li span{
    display: inline-block;
    padding-left: 30px;
    font-size: 16px;
    background: url(../images/e-mail.png) no-repeat left;
    background-size: 20px;
}
section li p{
    padding-left: 30px;
    font-size: 16px;
    background: url(../images/phone2.png) no-repeat left;
    background-size: 20px;
}
form{
    width: 1200px;
    margin: 60px auto;
    padding: 30px 100px;
    font-size: 0;
    background-color: #f6f6f6;
    border-top: 2px solid #8392a9;
    border-bottom: 2px solid #8392a9;
}
form h4{
    font-size: 24px;
    color: #102D59;
    text-align: center;
}
.line{
    position: relative;
    display: inline-block;
    width: 42%;
    margin: 20px 0;
    border-bottom: 1px solid #bdc6cf;
}
.line:nth-child(even){
    margin-right: 16%;
}
.line span{
    display: inline-block;
    width: 20%;
    font-size: 16px;
    line-height: 34px;
    color: #4A4A4A;
}
.line input{
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    background: none;
}
label.error{
    position: absolute;
    margin: 0;
    left: 100%;
    white-space: nowrap;
    color: red;
    line-height: 34px;
    font-size: 14px;
    font-weight: normal;
}
input:focus, .form-control:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.line select{
    display: inline-block;
    width: 80%;
    border: none;
    background: none;
    box-shadow: none;
}
.line select option{
    height: 20px;
}
textarea{
    width: 100%;
    height: 260px;
    margin: 20px 0;
    padding: 15px;
    font-size: 16px;
    color: #4A4A4A;
    line-height: 1.6;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    resize: none;
}
input[type='submit']{
    display: block;
    margin: auto;
    width: 160px;
    font-size: 16px;
    line-height: 2;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #58728d;
}
.btn-primary{
    display: none;
}
.modal-dialog{
    top: 30%;
}
.modal-content{
    text-align: center;
    font-size: 18px;
    padding: 30px;
}
.modal-content img{
    width: 24px;
    margin: 0 10px;
}
@media (max-width: 1200px) {
    .img{
        height: 155px;
    }
    section{
        width: 100%;
    }
    section h1{
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }
    .attention1{
        display: none;
    }
    section ul{
        float: none;
        width: 100%;
        padding: 0 3%;
    }
    section li{
        width: 100%;
        margin: 0 0 30px;
        height: auto;
    }
    section li h6{
        font-size: 24px;
    }
    section li span, section li p{
        font-size: 20px;
    }
    form{
        /* margin: 0 3%; */
        width: 94%;
        padding: 30px;
    }
    .line{
        width: 100%;
    }
    .line span{
        padding-left: 10px;
        font-size: 20px;
    }
    label.error{
        left: auto;
        right: 0;
        font-size: 20px;
    }
    .line input, .form-control, textarea{
        font-size: 20px;
    }
    .line:nth-child(even){
        margin-right: 0;
    }
    input[type='submit']{
        width: 100%;
        font-size: 20px;
        line-height: 2.4;
        border: 2px solid #102d59;
        background-color: #7f8da7;
    }
    .attention2{
        display: block;
        width: 94%;
        margin: 5% 3% 155px;
    }
    .attention2 p{
        font-size: 20px;
        line-height: 3;
    }
    .attention2 img:not(.bg){
        width: 60px;
    }
    .attention2 .bg{
        margin-top: 20px;
    }
    #dituContent{
        height: 300px;
    }
}