@font-face {
	font-family: 'webfont';
	src: url('../font/bold/webfont.eot');
	/* IE9*/
	src: url('../font/bold/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/bold/webfont.woff') format('woff'), /* chrome、firefox */
	url('../font/bold/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/bold/webfont.svg#webfont') format('svg');
	/* iOS 4.1- */
}

@font-face {
	font-family: 'webfont_1';
	src: url('../font/light/webfont.eot');
	/* IE9*/
	src: url('../font/light/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/light/webfont.woff') format('woff'), /* chrome、firefox */
	url('../font/light/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/light/webfont.svg#webfont') format('svg');
	/* iOS 4.1- */
}


@font-face {
	font-family: 'webfont_2';
	src: url('../font/most_light/webfont.eot');
	/* IE9*/
	src: url('../font/most_light/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/most_light/webfont.woff') format('woff'), /* chrome、firefox */
	url('../font/most_light/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/most_light/webfont.svg#webfont') format('svg');
	/* iOS 4.1- */
}


body {
	position: relative;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.container {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.container-fluid {
	padding: 0px;
	margin: 0px;
}


.head, .flexslider{
	height: 100vh;
}

.top {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background: rgba(9, 27, 35, 0.4);
	z-index: 99;
}

.logo {
	float: left;
	margin: -5px 0px 0px 100px;
	width: 70px;
	height: 70px;
}

.navbar {
	margin-bottom: 0px;
	min-height: 90px;
	background: rgba(9, 27, 35, 0.4);
	z-index: 9999;
	border: 0px;
}


.navbar-brand{
	margin-left: 0px !important;
}

.navbar-toggle {
	background: #fff;
}
.navbar-right{
	margin-right: 30px;
}
.nav li {
	float: left;
	margin-right: 20px;
}

.nav>li>.nav_case {
	width: 100%;
	overflow: hidden;

}

.nav>li>.nav_case a {
	display: block;
	font-size: 20px;
	line-height: 90px;
	color: #fff !important;
	background: none !important;
	padding: 0px 20px;
	
}

.nav>li>a {
	display: block;
	font-size: 20px;
	font-family: 'webfont';
	line-height: 80px;
	color: #fff !important;
	background: none !important;
}

.border_bottom {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 6px;
	background: #fff;
}

.nav li.acitve>.border_bottom {
	display: block;
}

.nav li:hover .border_bottom {
	display: block;
}

.nav>li>a:hover,
.nav>li>a:focus {
	text-decoration: none;
	background: none;
}

.navbar-nav>li>a {
	padding: 0px;
	line-height: 120px;
}

.nav>li>.nav>li>a {
	padding: 0px;
}

.hid_btns {
	display: none;
	position: absolute;
	top:0px;
	right: 0px;
	margin-top: 15px;
	margin-right: 4%;
	width: 50px;
	height: 40px;	
	cursor: pointer;
}

.hid_icons{
	display: block;
	width:100%;
	height:100%;
	background:  url(../images/down.png) no-repeat center;
	background-size: 70%;
	transition: all 0.5s ease-in-out;
}

.hid_menu {
	display: none;
	width: 100%;
	background: #F1F1F1;
}

.hid_menu h4 {
	color: #102d59;
	position: relative;
	font-size: 22px;
	line-height: 1;
	padding: 20px;
	text-transform: capitalize;
	font-family: "webfont";
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
	max-height: initial !important;
	overflow: hidden !important; 
}

.pc_imgs .partner_img  li {
	width: 20%;
}

.pc_imgs .partner_img.partner_img1  li {
	width: 16.6666%;
}

.small_ul {
	display: none;
	padding: 10px 50px;
	overflow: hidden;
	background-color: #f0f0f0;
}

.small_ul li{
	padding: 10px 0;
}

.small_ul li a {
	font: 16px/24px 'webfont_1';
	padding: 0px;
}

.small_ul li a:hover{
	color: #CF8100;
}

.gywm, .lxwm {
	display: none;
	position: absolute;
	top: 90px;
	left: 0px;
	width: 100%;
	height: 419px;
	background: #EEEEEE;
	z-index: 99999;
	overflow: hidden;
}

.gywm_left {
	float: left;
	width: 33%;
	height: 343px;
	margin: 28px 84px 0px 75px;
}

.gywm_left img {
	width: 100%;
}

.gywm_top {
	width: 100%;
	padding: 10px 0px;
	margin: 53px 0px 9px 0px;
	overflow: hidden;
	border-bottom: 1px solid #041A49;
}

.gywm_top span {
	font-size: 24px;
	font-weight: bold;
	color: #041A49;
}

.gywm_btn {
	display: block;
	float: right;
	margin-right: 1%;
	width: 205px;
	height: 48px;
	background: #FFFFFF;
	border: 2px solid #102D59;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
	border-radius: 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #102D59;
	font: 20px/48px "webfont";
	text-align: center;
}

.gywm_btn:hover {
	color: #102D59;
}

.gywm_bot {
	overflow: hidden;
}

.gywm_ul {
	float: left;
	width: 23%;
	margin: 0px 1%;
	overflow: hidden;
}
.lxwm .gywm_ul {
	width: 48%;
}
.gywm_ul li {
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.gywm_ul li a {
	font-size: 16px;
	color: #041A49;
}

.gywm_ul li a:hover{
	color: #CF8100;
}

.gywm_ul li.acitve {
	font-weight: bold;
	font-size: 18px;
	background: url(../images/dian.png) no-repeat left center;
}

.gywm_right {
	float: left;
	width: calc( 67% - 160px);
}

.cpfa {
	display: none;
	position: fixed;
	top: 90px;
	left: 0px;
	width: 100%;
	padding: 0px 5%;
	height: 628px;
	background: #EEEEEE;
	z-index: 999;
	overflow: hidden;
}

.cpfa_top {
	width: 100%;
	padding: 10px 0px;
	margin: 53px 0px 9px 0px;
	overflow: hidden;
	border-bottom: 1px solid #041A49;
}

.cpfa_top span {
	font-size: 24px;
	font-weight: bold;
	color: #041A49;
}

.cpfa_ul {
	float: left;
	width: 12%;
	margin: 0px 1%;
	padding-top:26px;
	overflow: hidden;
}

.cpfa_ul li {
	height: 38px;
	padding-left: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.cpfa_ul li a {
	font: 17px 'webfont_1';
	color: #041A49;
	height: 38px;
}
.cpfa_ul3 li a{
	margin-left: 20px;
}
.cpfa_ul li span {
	font: 16px 'webfont_1';
	color: #9b9b9b;
	height: 38px;
}


.cpfa_ul li a:hover{
	color: #CF8100;
}


.cpfa_ul li.acitve {
	font-weight: bold;
	color: #041A49;
	font-size: 18px;
	background: url(../images/dian.png) no-repeat left 5px;
}

.cpfa_ul li.acitve:hover a{
	color:#041A49;
}

.flexslider {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	overflow: hidden;
}

.slides {
	width: 100%;
	height: 100%;
}

.flexslider .slides_li {
	width: 100%;
	height: 100%;
}
.flexslider .slides_li video{
	display: block;
	width: 100%;
}
.flexslider .slides_li img.bg_img {
	display: block;
	width: 100%;
	/* height: 100%; */
}

.flex-control-nav {
	width: 120px;
	bottom: 100px;
	right: 66px;
	z-index: 99;
}

.flex-control-nav li {
	float: left;
}

.flex-control-paging li a {
	width: 18px;
	height: 18px;
	background: transparent;
	border: 2px solid #979797;
}

.flex-control-paging li a.flex-active {
	background: #D8D8D8;
}

.banner_content {
	height: 180px;
	width: 80%;
	position: absolute;
	top: 34%;
	left: 10%;
}

.banner_content>span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 100px;
	width: 100%;
	text-align: center;
	opacity: .6;
	/*letter-spacing: 6px;*/
	font-weight: bold;
	color: #2187FA;
	font-family: "webfont";
}

.banner_type {
	width: 33.3333%;
	position: absolute;
	top: -3px;
	display: inline-block;
}

.banner_left_box,
.banner_right_box {
	height: 3px;
}

.banner_left_box {
	left: 0;
	background-image: linear-gradient(-90deg, #FFFFFF 0%, #000635 100%);
}

.banner_right_box {
	right: 0;
	background-image: linear-gradient(-90deg, #000635 0%, #FFFFFF 100%);
}

.banner_left_yuan {
	right: -20px;
}

.banner_right_yuan {
	left: -20px;
}

.banner_left_yuan,
.banner_right_yuan {
	top: -10.5px;
	position: absolute;
	width: 21px;
	height: 21px;
	background-color: #fff;
	border-radius: 50%;
}

.banner_type_txt {
	text-align: center;
	color: #fff;
	left: 50%;
	top: -34px;
	transform: translateX(-50%);
	font-size: 40px;
}

.banner_txt {
	position: absolute;
	top: calc(34% + 180px);
	left: 10%;
	width: 80%;
	margin-top: 30px;
	font-family: "webfont_1";
	font-size: 46px;
	text-align: center;
	color: #fff;
}

.banner_border_bottom {
	position: absolute;
	top: calc(34% + 180px);
	background-image: linear-gradient(-90deg, rgba(4, 10, 56, 0.77) 0%, #FFFFFF 47%, rgba(1, 25, 52, 0.78) 100%);
	width: 100%;
	height: 3px;
}

.banner_btn,
.banner_btn1 {
	width: 220px;
	height: 60px;
	color: #fff;
	border-radius: 8px;
	border: 1px solid #fff;
	line-height: 60px;
	text-align: center;
	font-size: 28px;
	font-family: "webfont_1";
	cursor: pointer;
}

.banner_btn:hover,
.banner_btn1:hover {
	color: #fff !important;
	text-decoration: none !important;
}

.banner_btn {
	position: absolute;
	top: calc(34% + 280px);
	left: 50%;
	margin-left: -110px;
	margin-top: 40px;
}

.banner_btn1 {
	position: absolute;
	top: calc(46% + 280px);
	left: 95px;
}

.mouse_img {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 30px;
	width: 34px;
	height: 52px;
	margin-left: -17px;
}

.mouse_img img {
	width: 100%;
	height: 100%;
}

.banner_txt1 {
	position: absolute;
	top: 34%;
	left: 10%;
	width: 80%;
	font-size: 60px;
	line-height: 60px;
	color: #fff;
}

.banner_txt1 span {
	font-size: 50px;
	display: inline-block;
	font-family: "webfont_1";
	position: relative;
	transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
	letter-spacing: 10px;
}

.banner_txt2 {
	position: absolute;
	top: calc(34% + 100px);
	left: 10%;
	width: 80%;
	margin-top: 20px;
	font-size: 60px;
	color: #FFFFFF;
	letter-spacing: 23.76px;
	line-height: 80px;
	font-family: "webfont_extra_coarse"
}

.banner_txt3 {
	position: absolute;
	top: calc(46% + 180px);
	left: 95px;
	width: 80%;
	font-size: 50px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 80px;
	z-index: 20;
}

.banner_txt,
.banner_txt1,
.banner_txt2 {
	color: #fff;
	text-align: center;
}

/*人工智能*/

.rgzn {
	padding-bottom: 200px;
	/* height: 830px; */
	background: #f3f3f3 url(../images/referral.png) no-repeat center top;
	background-size: 100% 100%;
}

.rgzn h3 {
	padding-top: 90px;
	margin-bottom: 120px;
	font: 58px 'webfont_1';
	letter-spacing: 2.14px;
	text-align: center;
	color: #fff;
}

.rgzn_ul {
	overflow: hidden;
}
.rgzn_li {
	position: relative;
	float: left;
	width: 60%;
	margin: 0px 20%;
	padding: 10px 0 0 10px;
	border-top: 5px solid rgba(255, 255, 255, 0.49);
	border-left: 5px solid rgba(255, 255, 255, 0.49);
	overflow: hidden;
	box-sizing: initial;
}

.rgzn_ul li:nth-child(1) .rgzn_li{
	margin: 0 0 0 40%;
}
.rgzn_ul li:nth-child(3) .rgzn_li{
	margin: 0 40% 0 0;
}
.rgzn_tit {
	margin: 10px 0px;
	padding-left: 13%;
}
.rgzn_tit1 {
	background: url(../images/plate.png) no-repeat;
	background-size: 10%;
}
.rgzn_tit2 {
	background: url(../images/dais.png) no-repeat;
	background-size: 10%;
}
.rgzn_tit3 {
	background: url(../images/wl.png) no-repeat;
	background-size: 10%;
}
.rgzn_tit p{
	font: 28px 'webfont';
	letter-spacing: -0.3px;
	color: #fff;
	border-bottom: 1px solid #c7d0df;
}
.rgzn_tit span{
	font: 18px 'webfont';
	color: #c7d0df;
	line-height: 32px;
}
.rgzn_txt {
	padding: 0 10px;
	text-align: justify;
	font: 16px 'webfont_1';
	line-height: 25px;
	color: #c7d0df;
}

.rgzn_btn {
	font-family: "webfont_1";
	width: 140px;
	height: 56px;
	position: absolute;
	bottom: 20px;
	color: #fff;
	border: 2px solid #FFFFFF;
	border-radius: 8px;
	text-align: center;
	line-height: 56px;
}

.referral_content_btn {
	font-family: "webfont_1";
	margin-top: 20px;
	width: 140px;
	height: 56px;
	/*position: absolute;
	bottom: 20px;*/
	color: #fff;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	text-align: center;
	line-height: 56px;
	cursor: pointer;
}

.referral_modal {
	width: 140px;
	height: 56px;
	position: absolute;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.20);
	z-index: 99;
}

.referral_txt {
	position: absolute;
	width: 140px;
	text-align: center;
	color: #fff;
	z-index: 100;
	font-size: 20px;
}


/*人工智能结束*/


/*九大领域*/

.field {
	position: relative;
	width: 100%;
	height: 1080px;
	background-color: #f3f3f3;
	padding-left: 10.3%;
	padding-top: 45px;
}

.field_content {
	width: 100%;
	/* height: 80%; */
	position: relative;
	z-index: 80;
}

.field_yuan {
	width: 640px;
	height: 640px;
	border-radius: 50%;
	position: absolute;
	left: 320px;
	top: 220px;
	z-index: 92;
	background-image: url("../images/yuan.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform: rotate(30deg);
}

.field_zx {
	position: absolute;
	top: 540px;
	left: 640px;
	transform: translate(-50%, -50%);
	width: 444px;
	height: 444px;
	border-radius: 50%;
	background-image: radial-gradient(34% 12%, #FFFFFF 26%, #F8F8F8 99%);
	box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.50);
	z-index: 93;
}

.field_li {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 26px;
	color: #041A49;
	text-align: center;
	line-height: 46px;
	display: none;
	/* visibility: hidden; */
}

.field_li p {
	font: 26px 'webfont_1';
	color: #041A49;
}

.field_hader_txt {
	position: absolute;
	left: 400px !important;
	top: -150px !important;
	width: auto !important;
	font-size: 18px !important;
	color: #041A49 !important;
	line-height: 30px !important;
	transform: translate(0, 0) !important;
	text-align: left !important;
	font-family: 'webfont';
	/* transform: !important; */
	max-width: 500px;
}

.field_content_txt {
	font-size: 18px !important;
	color: #041A49 !important;
	line-height: 32px !important;
	position: absolute;
	left: 600px !important;
	top: 50% !important;
	transform: translateY(-50%) !important;
	width: auto !important;
	max-width: 500px;
	text-align: left !important;
	font-family: 'HYWenHei-EEW';
}

.next_left,
.next_right {
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.next_left {
	left: 14%;
}

.next_right {
	right: 14%;
}

.next_left i,
.next_right i {
	font-size: 30px;
}

.field_bang {
	width: 270px;
	height: 5px;
	position: absolute;
	left: 210px;
	top: 52.2%;
	transform: translateY(-50%);
	background-color: #102D59;
	/* z-index: 81; */
}

.field_btn {
	width: 303px;
	height: 52px;
	background: #FFFFFF;
	border: 1px solid #102D59;
	border-radius: 8px;
	position: absolute;
	cursor: pointer;
	left: 50%;
	right: 20px;
	bottom: -100px;
	font-size: 20px;
	color: #102D59;
	line-height: 52px;
	text-align: center;
	font-family: 'webfont_1';
}

.field_bang_yuan {
	width: 30px;
	height: 30px;
	background-color: #102D59;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	border-radius: 50%;
}

.field_yuan ul li {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	cursor: pointer;
}

.field_box {
	background-color: #BCBCC7;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
}

.field_yuan img {
	/* border-radius: 50%;  */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 65px;
	height: 65px;
}

.field_boder {
	width: 848px;
	height: 418px;
	border-radius: 400px 0 0 0;
	background: -webkit-linear-gradient(90deg, #D3DDEA, #122754);
}

.field_boder span {
	position: absolute;
	left: 850px;
	top: -33px;
	font-family: "webfont_thick";
	font-size: 56px;
	color: #102D59;
	letter-spacing: 2.14px;
}

.field_keepout {
	position: absolute;
	background-color: #f3f3f3;
	width: 848px;
	height: 418px;
	border-radius: 400px 0 0 0;
	top: 4px;
	left: 4px;
}

.field>img {
	position: absolute;
	width: 628px;
	height: 859px;
	left: 0;
	top: 41%;
	transform: translateY(-50%);
	z-index: 91;
}

.field_bg {
	width: calc( 100% - 628px);
	height: 396px;
	background-image: linear-gradient(-90deg, #E2E2E2 2%, #D0D5DB 100%);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 90;
}
.wifi{
	display: none;
	position: relative;
	height: calc(100vw/1.78);
	background: #fff url(../images/wifi.jpg) no-repeat;
	background-size: 100%;
}
.wifi span a{
	font-size: 24px;
	color: #fff;
	font-family: "webfont_1";
}
.wifi span::before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 22px;
	vertical-align: -6px;
	border-radius: 50%;
	background-color: #041A49;
    transform: translate(-50%,-50%);
}
.span1::before, .span7::before{animation: ks 2000ms infinite;}
.span3::before, .span6::before{animation: ks 2000ms infinite 500ms;}
.span5::before, .span4::before{animation: ks 2000ms infinite 1000ms;}
.span2::before, .span8::before{animation: ks 2000ms infinite 1500ms;}
.wifi .span1{
	position: absolute;
	left: 51.2%;
	top: 22.4%;
}
.wifi .span2{
	position: absolute;
	left: 33.35%;
	top: 40.95%;
}
.wifi .span3{
	position: absolute;
	left: 17.1%;
	top: 52.3%;
}
.wifi .span4{
	position: absolute;
	left: 67.4%;
	top: 52.1%;
}
.wifi .span5{
	position: absolute;
	left: 37.85%;
	top: 70.95%;
}
.wifi .span6{
	position: absolute;
	left: 60.65%;
	top: 70.25%;
}
.wifi .span7{
	position: absolute;
	left: 20.25%;
	top: 86.15%;
}
.wifi .span8{
	position: absolute;
	left: 76.3%;
	top: 86.15%;
}
@keyframes ks{
    from {
        transform: translate(-50%,-50%) scale(1);
        -o-transform: translate(-50%,-50%) scale(1);
        -ms-transform: translate(-50%,-50%) scale(1);
        -moz-transform: translate(-50%,-50%) scale(1);
        -webkit-transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%,-50%) scale(4);
        -o-transform: translate(-50%,-50%) scale(4);
        -ms-transform: translate(-50%,-50%) scale(4);
        -moz-transform: translate(-50%,-50%) scale(4);
        -webkit-transform: translate(-50%,-50%) scale(4);
        opacity: .1;
    }
}
.video_box {
	width: 100%;
	display: none;
	background: #333;
}

.jdly {
	display: none;
}

.jdly_imgshow {
	display: none;
	width: 100%;
	height: 400px;
	background: url(../images/mobile/Artboard.png) no-repeat;
	background-size: 100% 100%;
}

.jdly_imgshow ul {
	width: 100%;
	overflow: hidden;
}

.jdly_imgshow ul li {
	float: left;
	width: 33.33%;
	height: 150px;
	line-height: 150px;
	font-size: 22px;
	text-align: center;
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, .5);
}
.jdly_imgshow ul li:last-child{
	width: 100%;
	height: 100px;
	line-height: 100px;
}
.jdly_imgshow ul li a {
	text-align: center;
	color: #fff;
}
.jdly_imgshow ul li a::before{
	display: inline-block;
	content: '';
	width: 10px;
	height: 10px;
	margin: 0 10px;
	vertical-align: 3px;
	border-radius: 50%;
	background-color: #fff;
}


/*九大领域结束*/


/*新闻动态*/

.news {
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

.news_div {
	width: 80%;
	margin: 0px auto;
	overflow: hidden;
}

.news h3 {
	font-family: webfont_1;
	font-size: 36px;
	font-weight: bold;
	line-height: 92px;
	color: #041A49;
	letter-spacing: 3.14px;
	margin: 20px 0px;
}

.flexslider_news {
	position: relative;
	padding-bottom: 200px;
}

.flexslider_news .flex-control-nav {
	position: absolute;
	bottom: 100px;
	left: 50%;
	right: auto;
	width: 90px;
	height: 40px;
	margin-left: -45px;
}

.flexslider_news .flex-control-nav li {
	margin: 0px;
}

.flexslider_news .flex-control-nav li:first-child {
	margin-right: 20px;
}

.flexslider_news .flex-control-nav li a {
	display: inline-block;
	border: 3px solid #FFFFFF;
	background: #fcfcfc;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.flexslider_news .flex-control-nav li a.flex-active {
	width: 24px;
	height: 24px;
	background: #102D59;
	border: 1px solid #979797;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.flexslider_news .flex-control-nav li a:hover {
	width: 24px;
	height: 24px;
	background: #102D59;
	border: 1px solid #979797;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.left {
	float: left;
	width: 50%;
	background: #FFFFFF;
	box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.13);
}

.lf_img {
	width: 100%;
	height: 470px;
	overflow: hidden;
}

.lf_img img {
	/* width: 100%; */
	height: 100%;
}
.shadow{
	box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.13);
}
.text_box {
	width: 100%;
	/*height: 166px;*/
	padding: 20px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.lf_tit {
	font-family: 'webfont';
	font-size: 24px;
	color: #020F2A;
	letter-spacing: 0;
	line-height: 30px;
	margin-bottom: 20px;

}

.lf_p {
	font-family: webfont;
	font-size: 18px;
	color: #838383;
	letter-spacing: 0;
	line-height: 30px;
}

.right {
	float: left;
	margin-left: 5%;
	width: 40%;
}

.r_tit {
	width: 100%;
	border-top: 2px solid #102D59;
	border-bottom: 1px solid #102D59;
	overflow: hidden;
}

.r_tit span.span_t {
	float: left;
	font-family: webfont;
	font-size: 22px;
	font-weight: bold;
	color: #020F2A;
	letter-spacing: 0;
	line-height: 43px;
}

.r_tit a.a_t {
	float: right;
	font-family: webfont;
	font-size: 16px;
	color: #052450;
	letter-spacing: 1.05px;
	line-height: 43px;
}

.data_ul li {
	margin-top: 30px;
	overflow: hidden;
}

.right_time {
	width: 66px;
	height: 66px;
	float: left;
	background: #102D59;
}

.right_time p {
	font-family: webfont;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 32px;
	text-align: center;
	border-bottom: 1px solid #fff;
	width: 80%;
	margin: 0px 8%;
}

.right_time span {
	display: inline-block;
	width: 80%;
	margin: 0px 10%;
	font-family: webfont;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 38px;
	text-align: center;
}

.right_txt {
	float: left;
	margin-left: 20px;
	width: calc(100% - 106px);
	font-family: webfont;
	font-size: 20px;
	color: #020F2A;
	letter-spacing: 0;
	line-height: 30px;
	text-align: justify;
}


/*.new_contral {
	width: 90px;
	height:40px;
	margin: 50px auto;
	overflow: hidden;
	text-align: center;
}

.new_contral li {
	float: left;
	margin-left: 20px;
	border: 3px solid #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
	width: 29px;
	height: 29px;
	border-radius: 100%;
	cursor: pointer;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box; 
}

.new_contral li:first-child {
	margin: 1px;
}

.new_contral li.acitve {
	width: 29px;
	height: 29px;
	background: #102D59;
	border: 1px solid #979797;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}*/

.goback_box {
	position: absolute;
	bottom: 50px;
	right: 0px;
	background: #041A49;
	border-radius: 18px 1px 1px 18px;
	width: 70px;
	height: 200px;
}

.share {
	border-bottom: 1px solid #fff;
}

.share img {
	display: block;
	margin: 30px auto;
}

.go_back img {
	display: block;
	margin: 30px auto;
}

.share,
.go_back {
	cursor: pointer;
}

.news_div1 {
	display: none;
}


/*新闻动态*/


/*合作伙伴*/

.partner {
	position: relative;
	padding: 30px 0;
	background-image: linear-gradient(-27deg, #E2E2E2 0%, #F9F9F9 86%);
}

.partner h3 {
	font-family: webfont_1;
	font-size: 38px;
	color: #041A49;
	line-height: 92px;
	text-align: center;
}

.partner p {
	font-family: webfont_1;
	font-size: 20px;
	color: #041A49;
	line-height: 33px;
	text-align: center;
	margin-bottom: 40px;
}

.partner_img {
	width: 94%;
	margin: 0 auto;
	padding: 20px 0px;
	overflow: hidden;
	box-sizing: inherit;
}

.partner_img li {
	float: left;
	margin: 5px 0px;
	height: 60px;
	text-align: center;
}

.partner_img li img {
	max-width: 80%;
	vertical-align: middle;
}

.small_imgs{
	display:none;
}


/*合作伙伴*/


/*尾部*/

.footer {
	width: 100%;
	background: url(../images/footer.png) no-repeat center top;
	background-size: 100% 100%;
}

.footer_box {
	width: 90%;
	margin: 0px auto;
	overflow: hidden;
}

.foot_logo {
	margin-top: 60px;
	width: 90px;
	height: 90px;
}

.foot_logo img {
	width: 100%;
	height: 100%;
}

.footer_five {
	overflow: hidden;
	padding-bottom: 35px;
}

.footerpart_one,
.footerpart_two,
.footerpart_three,
.footerpart_four,
.footerpart_five {
	float: left;
}

.adress_ul {
	margin-top: 45px;
	padding-bottom: 25px;
	border-bottom: 1px solid #FFFFFF;
}

.footerpart_one {
	width: 525px;
}

.footerpart_one .adress_ul li {
	margin-bottom: 10px;
	overflow: hidden;
}

.footerpart_one .adress_ul li img {
	float: left;
	margin: 3px 10px 0px 0px;
}

.footerpart_one .adress_ul li span {
	float: left;
	font-family: webfont;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 28px;
}

.footericon_ul {
	overflow: hidden;
}

.footericon_ul li {
	float: left;
	margin: 30px 16px 0px 0px;
	/*	cursor: pointer;*/
}

.footericon_ul li.footer_icon1 {
	width: 59px;
	height: 59px;
	background: url(../images/wx.png) no-repeat center center;
	background-size: 48px;
}

.footericon_ul li.footer_icon2 {
	width: 59px;
	height: 59px;
	background: url(../images/wb.png) no-repeat center center;
	background-size: 48px;
}

.footericon_ul li.footer_icon3 {
	width: 59px;
	height: 59px;
	background: url(../images/tt.png) no-repeat center center;
	background-size: 48px;
}

.footericon_ul li.footer_icon4 {
	width: 59px;
	height: 59px;
	background: url(../images/fb.png) no-repeat center center;
	background-size: 48px;
}

.footericon_ul li.footer_icon5 {
	width: 59px;
	height: 59px;
	background: url(../images/fg.png) no-repeat center center;
	background-size: 48px;
}

.footericon_ul li.footer_icon6 {
	width: 59px;
	height: 59px;
	background: url(../images/camera.png) no-repeat center center;
	background-size: 48px;
}

.footericon_ul li.footer_icon7 {
	width: 59px;
	height: 59px;
	background: url(../images/play.png) no-repeat center center;
	background-size: 48px;
}

.footer_box p {
	margin: 26px 0px;
	font-family: webfont;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.95px;
}

.footerpart_two {
	margin: 200px 0px 0px 100px;
}

.footerpart_two a {
	margin-top: 10px;
	display: block;
	font-family: webfont;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 28px;
}

.footer_tit {
	display: block;
	font-family: webfont;
	font-size: 18px;
	color: #FFFFFF !important;
	letter-spacing: 0.95px;
	line-height: 28px;
	height: 28px;
}

.footer_children {
	border-left: 1px solid #FFFFFF;
	width: 100%;
}

.footer_children li {
	padding-left: 20px;
	margin-top: 15px;
}

.footer_children li a {
	display: block;
	font-family: webfont_1;
	font-size: 18px;
	color: #c8d4e4;
	letter-spacing: 0;
	line-height: 30px;
}

.footerpart_three,
.footerpart_four,
.footerpart_five {
	margin: 200px 0px 0px 3%;
}
.qr-code{
	float: right;
	width: 140px;
	margin-top: 200px;
	text-align: center;
}
.qr-code img{
	width: 100%;
}
.qr-code p{
	margin: 10px 0 0;
	font-size: 18px;
	color: #c8d4e4;
}

/*尾部*/