.img{
    height: 340px;
}
.join{
    width: 1200px;
    margin: 20px auto 60px;
    font-size: 0;
}
.join>h2{
    margin: 50px 0;
    font-size: 32px;
    color: #102D59;
    font-weight: 600;
}
.join>p{
    font-size: 16px;
    line-height: 1.9;
}
.join button{
    margin: 50px 20px 50px 0;
    padding: 6px 40px;
    font-size: 14px;
    color: #102D59;
    border: 1px solid #102D59;
    border-radius: 8px;
    background-color: #fff;
}
.join .act{
    color: #fff;
    background: #5c7691;
}
.panel-group{
    border-bottom: 2px solid #D3D3D3;
}
.panel1{
    display: none;
}
.panel-default{
    border: none;
}
.panel-default > .panel-heading{
    padding: 20px 15px;
    border-top: 2px solid #D3D3D3;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    background-color: #fff;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
    border: 0;
    background-color: #f6f6f6;
}
.panel-group .panel + .panel{
    margin: 0;
}
.panel-group .active{
    border-top: 2px solid #102D59 !important;
    background-color: #f6f6f6 !important;
}
.panel-title a{
    display: inline-block;
    width: 100%;
    font-weight: 600;
    color: #102D59;
}
.panel-title img{
    float: right;
    width: 20px;
    transform: rotate(180deg);
}
.panel-title a[aria-expanded="true"] img{
    transform: rotate(0);
}
.panel-body h6{
    margin: 10px 0;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.6;
    color: #000;
}
.panel-body p{
    font-size: 14px;
    font-weight: 100;
    line-height: 1.9;
    color: #000;
}
.panel-body h5{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #102D59;
}
.panel-body h5 a{
    margin-left: 20px;
    text-decoration: underline;
}
@media (max-width: 1200px) {
    .img{
        height: 155px;
    }
    .join{
        width: 94%;
        margin: 30px 3% 60px;
    }
    .join>h2{
        margin: 30px 0;
        text-align: center;
        font-size: 32px;
        color: #102D59;
        font-weight: 600;
    }
    .join>p{
        text-indent: 30px;
        text-align: justify;
        font-size: 20px;
        line-height: 1.6;
    }
    .join button{
        margin: 30px 20px 30px 0;
        padding: 6px 40px;
        font-size: 20px;
    }
    .panel-title{
        font-size: 22px;
    }
    .panel-body h6{
        font-size: 20px;
        color: #102D59;
    }
    .panel-body p{
        font-size: 20px;
        color: #102D59;
    }
    .panel-body h5{
        text-align: center;
        font-size: 20px;
        line-height: 2.4;
        color: #fff;
        border: 1px solid #102D59;
        border-radius: 10px;
        background-color: #5c7691;
    }
}