html,
body {
    margin: 0;
    padding: 0;
}
#dituContent{
    width: 100%;
    height: 500px;
}
/* #dituContent::after{
    content: '';
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 36, 87, .3);
    z-index: 15;
} */
.iw_poi_title {
    color: #102D59;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}